a{
	text-decoration: none;
	color: black !important;
}


.nav{
	position: relative;
	width: 100%;
	left: 20%;
	top: 100px;

}


.User_opcion{
	position: relative;
	border: 5px solid red;
	top: 10px;
	margin-top: 130px;
	height: 800px;
}

.User_opcion .tab-pane{
	position: relative;
	display: flex;
	    flex-direction: row;
    flex-wrap: wrap;
}

.User_opcion .tab-pane .input{
	position: relative;
	border: 1px solid black;
	text-align: center;
	width: 45%;
	left: 1%;
	top: 10px;
	height: 580px;
}

.User_opcion .tab-pane .input label{
	position: relative;
	text-align: center;
	font-size: 1.5vw;
	margin-top: 10px;
	margin-bottom: 25px;
	width: 100%;
}

.User_opcion .tab-pane .input button{
	position: relative;
	text-align: center;
	font-size: 1vw;
	margin-top: 23px;
	margin-bottom: 25px;
	width: 60%;
}


.input .Extra{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.input .Extra div{
	width: 191px;
	height: 218px;
	font-size: 1vw;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 2px solid red;
}

.input .Extra div p{
	margin-top: 10px;
	margin-bottom: 10px;
}

.input .Extra div i{
	font-size: 3.5vw;
	margin-top: 10px;
	margin-bottom: 5px;
}

.input .Extra p{
	font-size: 0.8vw;
}
