
.Pagina_Principal{
    height: 80%;
}


a {
    text-decoration: none;
    color: black !important;
}


.nav {
    position: relative;
    justify-content: center;
    font-size: 25px;
    width: 100%;
    
    left: -2.5%;

}

.nav li{
    margin-left: 35px;
}

.nav li button{
    color: black;
}

.nav li button i{
    margin-left: 10px;
}
/*----------OPCIONES DE USUARIO-------------------*/
#pills-1{
    height: 1050px;
}

#pills-1 .input{
    text-align: center;
    width: 43%;
    float: left;
    margin-left: 70px;
    margin-top: 10px;
    
}

#pills-1 .input label{
    font-size: 2vw;
    margin-bottom: 50px;
    border-bottom: 3px solid red;
    background-color:transparent ;
    padding: 2px;
    color: black;
    margin-top: 20px;
}

#pills-1 .input select{
    margin-bottom: 50px;
}

#pills-1 .input .btn-Usuario{
    text-align: center;
    margin-bottom: 50px;
}

#pills-1 .input .btn-Usuario button{
    margin-left: 30px;
}

#pills-1 .Extra{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#pills-1 .Extra div{
    width: 30%;
    margin-left: 10px;
    margin-top: 10px;
}

#pills-1 .Extra div .form-check-input{
    margin-top: 50px;
}

#pills-1 .Extra div h5{
    font-size: 1.3vw;
}

#pills-1 .Extra div i{
    font-size: 3vw;
}

#pills-1 .Extra div p{
    font-size: 1vw;
    margin-top: 10px;
}


#pills-2{
    text-align: center;
}

#pills-2 button{
    margin-top: 30px;
    margin-bottom:20px ;
}