@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');


@media (min-width: 756px) and (max-width: 1100px) {

    body {
        border: 5px solid purple;
    }

    /*MARCO PRINCIPAL*/
    .Pagina_Principal {
        overflow: hidden;
        height: 100%;
    }

    .Pagina_Principal nav {
        height: 100% !important;
        text-align: right;

    }

    nav ul {
        margin-top: 1.5vw;
    }

    .Pagina_Principal nav img {
        width: 22% !important;
        height: 85px !important;
    }


    .Pagina_Principal nav a {
        color: white !important;
        font-size: 3vw;
    }

    .Pagina_Principal nav a:hover {
        color: red !important;
    }

    .boton_responsive {
        background-color: rgb(192, 192, 192, 0.1);
    }

    /*MARCO PRINCIPAL*/




    /*-------- MARCO SECUNDARIO -----------*/



    .Marco_Secundario {
        width: 98%;
        margin: auto;

    }

    /*SLIDER DE IMAGENES*/


    .carousel-inner {
        height: 55vw;
    }

    .carousel-item img {
        position: relative;
        height: 55vw;
    }


    .text_carrusel {
        margin: auto;
        position: relative;
        color: white !important;
        background-color: rgb(0, 0, 0, 0.5);
        top: -29.5vw;
        width: 70%;

    }

    /*SLIDER DE IMAGENES*/


    /*---- Servicios Informacion ---*/

    .Servicios_Informacion {
        /*border: 4px solid red;*/
    }

    .Servicios_Informacion .title_servicios {
        font-size: 3vw;
    }


    .Servicios_Informacion .content_servicios {
        display: flex;
        justify-content: center;
    }

    .Servicios_Informacion .card {
        background-color: rgb(192, 192, 192, 0.1);
        box-shadow: 5px 5px 15px 5px rgb(192, 192, 192, 0.9);
        text-align: center;
        /*margin: auto;*/
        width: 45% !important;
        height: 100%;
        margin-left: 15px;
        margin-top: 15px;
    }

    .Servicios_Informacion .card-img-top {
        width: 100%;
    }

    .Servicios_Informacion h5 {
        text-align: left;
    }

    .Servicios_Informacion p {
        text-align: justify;
    }

    /*---- Servicios Informacion ---*/


    /*    PUBLICIDAD EXTRA    */

    .Publicidad_Extra {
        text-align: center;
        /* border: 5px solid red;*/
        width: 100%;
    }

    .Publicidad_Extra section {
        /*border: 5px solid black;*/
        width: 70%;
        margin-left: 20px;
        height: 330px;
    }


    .Publicidad_Extra p {
        text-align: justify;
        padding: 5px;
    }

    .Publicidad_Extra video {
        width: 100%;
        height: 270px;
    }

    /*    PUBLICIDAD EXTRA    */




    /* FOOTER  */

    footer {
        /*  border: 5px solid yellow;*/
        color: white !important;
        flex-direction: row;
        justify-content: center;
        /* background-color: black;*/
        font-size: 1vw;
    }

    footer div {
        /* border: 5px solid blue;*/
        width: 100;
        margin-top: 25px;
    }

    .Flex_Info {
        width: 100%;
    }

    .Flex_Info div {
        width: 43%;
    }


    footer .section_1 img {
        width: 50%;
    }

    footer .section_1 p {
        text-align: center;
        padding: 10px;
    }

    footer .section_2 {
        width: 60%;
        font-size: 1.5vw;
    }

    footer .section_2 section {
        width: 100%;
        position: relative;
    }

    .info_dos section {
        margin-left: 25px;
        width: 44% !important;
        position: relative;
        right: 17px;
    }

    footer .informacion_final {
        /* font-size: 3.5vw;*/
    }


    footer .img-london div {
        margin: auto;
        width: 80%;
        position: relative;
        text-align: center;
        background-color: white !important;
        border-radius: 10px;
        /* width: 80%;*/
        padding: 10px;
    }

    footer .img-london h1 {
        position: relative;
        color: rgb(84, 89, 95) !important;
        font-size: 16px;
    }

    footer .img-london i {
        position: relative;
        text-decoration: none;
        color: black;
        font-size: 2.5vw;
        margin-left: 15px;
    }

    /* FOOTER  */








}








/*
@media (min-width: 1000px) {
    .Pagina_Principal {
        overflow: hidden;
        height: 100%;
    }

    .Marco_Secundario {
        border: 5px solid red;
        width: 95%;
        margin: auto;
    }



    .Pagina_Principal nav {
        height: 70px !important;
    }


    .Pagina_Principal nav img {
        margin-left: 25px;
    }


    .Pagina_Principal nav ul {
        position: relative;
        right: 25px;
    }


    .Pagina_Principal nav li {
        position: relative;
        margin-left: 15px;

    }

    .Pagina_Principal nav a {
        color: white !important;
        font-size: 1.2vw;
    }

    .Pagina_Principal nav a:hover {
        color: red !important;
    }


    .Pagina_Principal nav img {
        height: 60px;
    }


    .carousel-inner {
        margin: auto;
        text-align: center;
        position: relative;
        height: 580px;
    }

    .carousel-item img {
        position: relative;
        height: 750px;
    }

    .carousel-caption {
        position: relative;
        left: 2px !important;
        top: -305px;
        color: white !important;
        background-color: rgb(0, 0, 0, 0.5);
    }



    .Info_Servicios section {
        width: 50%;
        margin-top: 50px;
    }

    .Info_Servicios img {
        border-radius: 5px;
    }


    .section_info {
        padding: 5px;
    }

    .section_info p {
        width: 90%;
        margin: auto;
    }

}

*/

/*
@media (max-width: 600px) {

    .Pagina_Principal {
        overflow: hidden;
        height: 100%;
    }

    .Marco_Secundario {
        width: 100%;
        margin: auto;
    }

    .Pagina_Principal nav {
        height: 100% !important;
        text-align: right;
    }

    .boton_responsive {
        background-color: rgb(192, 192, 192, 0.1);
    }


    .Pagina_Principal nav img {
        width: 60% !important;
        height: 80px !important;


    }

    .Pagina_Principal .a_img {
        width: 30% !important;
    }

    .Pagina_Principal nav a {
        color: white !important;
        font-size: 4vw;
    }

    .Pagina_Principal nav a:hover{
        color: red !important;
    }

    .carousel-inner {
        height: 300px;
    }

    .carousel-item img {
        position: relative;
        height: 400px;
    }

    .text_carrusel {
        margin: auto;
        position: relative;
        color: white !important;
        background-color: rgb(0, 0, 0, 0.5);
        top: -275px;
        width: 70%;

    }

    .info_card{
      
    }



    .tarjeta_info {
        background-color: rgb(192, 192, 192, 0.1);
        border: 5px solid red;
        display: flex;
        margin: auto;
        width: 95%;
        height: 300px;
        box-shadow: 5px 5px 15px 5px rgb(192, 192, 192, 0.9);
    }

    .content_info {
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 25px;
    }

    .texto_info {
        text-align: justify;
        width: 82%;
        margin: auto;
        padding: 5px;
        font-size: 2.3vw !important;
    }

    .section_info {
      border: 5px solid purple;
        width: 55%;

    }

    .img_info {
        border-radius: 5px;
        width: 45%;
        margin-right: 10px;
    }

    .Publicidad_Extra{
        text-align: center;
    }

    .Publicidad_Extra p{
        padding: 20px;
        text-align: justify;
    }

    .Publicidad_Extra section{
        margin: auto;
        width: 90%;
    }

    .Publicidad_Extra video{
        width: 100%;    
    }

    footer{
        color: white !important;
        flex-direction: column;
        justify-content: center;
        background-color: black;
        font-size: 4vw;
    }

    footer div{
        border: 5px solid black;
        width: 100;
        margin-top: 25px;

    }



    footer .section_1 img{
        width: 40%;
    }

    footer .section_1 p{
        text-align: justify;
        padding: 10px;
    }

    footer .section_2{
         font-size: 3.5vw;
    }

    footer .section_2 section{
        width: 100%;
        position: relative;    }

    .info_dos section{
        margin-left: 20px;
        width: 40% !important;
        position: relative;
        right:17px ;
    }

    footer .informacion_final{
        font-size: 3.5vw;
    }




}
*/