@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');


@media (min-width: 756px) and (max-width: 1100px) {

    body {
        border: 5px solid purple;
    }

    /*MARCO PRINCIPAL*/
    .Pagina_Principal {
        overflow: hidden;
        height: 100%;
    }

    .Pagina_Principal nav {
        height: 100% !important;
        text-align: right;

    }

    nav ul {
        margin-top: 1.5vw;
    }

    .Pagina_Principal nav img {
        width: 22% !important;
        height: 85px !important;
    }


    .Pagina_Principal nav a {
        color: white !important;
        font-size: 3vw;
    }

    .Pagina_Principal nav a:hover {
        color: red !important;
    }

    .boton_responsive {
        background-color: rgb(192, 192, 192, 0.1);
    }

    /*MARCO PRINCIPAL*/




    /*-------- MARCO SECUNDARIO -----------*/



    .Marco_Secundario {
        width: 98%;
        margin: auto;

    }

    /*SLIDER DE IMAGENES*/


    .carousel-inner {
        height: 55vw;
    }

    .carousel-item img {
        position: relative;
        height: 55vw;
    }


    .text_carrusel {
        margin: auto;
        position: relative;
        color: white !important;
        background-color: rgb(0, 0, 0, 0.5);
        top: -29.5vw;
        width: 70%;

    }

    /*SLIDER DE IMAGENES*/


    /*---- Servicios Informacion ---*/

    .Servicios_Informacion {
        /*border: 4px solid red;*/
    }

    .Servicios_Informacion .title_servicios {
        font-size: 3vw;
    }


    .Servicios_Informacion .content_servicios {
        display: flex;
        justify-content: center;
    }

    .Servicios_Informacion .card {
        background-color: rgb(192, 192, 192, 0.1);
        box-shadow: 5px 5px 15px 5px rgb(192, 192, 192, 0.9);
        text-align: center;
        /*margin: auto;*/
        width: 45% !important;
        height: 100%;
        margin-left: 15px;
        margin-top: 15px;
    }

    .Servicios_Informacion .card-img-top {
        width: 100%;
    }

    .Servicios_Informacion h5 {
        text-align: left;
    }

    .Servicios_Informacion p {
        text-align: justify;
    }

    /*---- Servicios Informacion ---*/


    /*    PUBLICIDAD EXTRA    */

    .Publicidad_Extra {
        text-align: center;
        /* border: 5px solid red;*/
        width: 100%;
    }

    .Publicidad_Extra section {
        /*border: 5px solid black;*/
        width: 70%;
        margin-left: 20px;
        height: 330px;
    }


    .Publicidad_Extra p {
        text-align: justify;
        padding: 5px;
    }

    .Publicidad_Extra video {
        width: 100%;
        height: 270px;
    }

    /*    PUBLICIDAD EXTRA    */




    /* FOOTER  */

    footer {
        /*  border: 5px solid yellow;*/
        color: white !important;
        flex-direction: row;
        justify-content: center;
        /* background-color: black;*/
        font-size: 1vw;
    }

    footer div {
        /* border: 5px solid blue;*/
        width: 100;
        margin-top: 25px;
    }

    .Flex_Info {
        width: 100%;
    }

    .Flex_Info div {
        width: 43%;
    }


    footer .section_1 img {
        width: 50%;
    }

    footer .section_1 p {
        text-align: center;
        padding: 10px;
    }

    footer .section_2 {
        width: 60%;
        font-size: 1.5vw;
    }

    footer .section_2 section {
        width: 100%;
        position: relative;
    }

    .info_dos section {
        margin-left: 25px;
        width: 44% !important;
        position: relative;
        right: 17px;
    }

    footer .informacion_final {
        /* font-size: 3.5vw;*/
    }


    footer .img-london div {
        margin: auto;
        width: 80%;
        position: relative;
        text-align: center;
        background-color: white !important;
        border-radius: 10px;
        /* width: 80%;*/
        padding: 10px;
    }

    footer .img-london h1 {
        position: relative;
        color: rgb(84, 89, 95) !important;
        font-size: 16px;
    }

    footer .img-london i {
        position: relative;
        text-decoration: none;
        color: black;
        font-size: 2.5vw;
        margin-left: 15px;
    }

    /* FOOTER  */

}

@media (max-width: 756px) {

    body {
        border: 5px solid yellow;
    }

    /*MARCO PRINCIPAL*/
    .Pagina_Principal {
        overflow: hidden;
        height: 100%;
    }

    .Pagina_Principal nav {
        height: 100% !important;
        text-align: right;
      /*  border: 5px solid red;*/

    }

    nav ul {
        margin-top: 1.5vw;
    }

    nav .a_img{
      /*  border: 5px solid red;*/
        width: 50%;
    }

    .Pagina_Principal nav img {
        width: 45% !important;
        height: 85px !important;
    }


    .Pagina_Principal nav a {
        color: white !important;
        font-size: 4.5vw;
    }

    .Pagina_Principal nav a:hover {
        color: red !important;
    }

    .boton_responsive {
        position: relative;
        right: 3%;
        background-color: rgb(192, 192, 192, 0.1);
        width: 17%;
    }

    /*MARCO PRINCIPAL*/




    /*-------- MARCO SECUNDARIO -----------*/



    .Marco_Secundario {
        width: 98%;
        margin: auto;

    }

    /*SLIDER DE IMAGENES*/


    .carousel-inner {
        height: 85vw;
    }

    .carousel-item img {
        position: relative;
        height: 85vw;
    }


    .text_carrusel {
        margin: auto;
        position: relative;
        color: white !important;
        background-color: rgb(0, 0, 0, 0.5);
        top: -46.5vw;
        width: 70%;
        font-size: 4.8vw;

    }

    /*SLIDER DE IMAGENES*/


    /*---- Servicios Informacion ---*/

    .Servicios_Informacion {
        /*border: 4px solid red;*/
    }

    .Servicios_Informacion .title_servicios {
        font-size: 5vw;
    }

    .Servicios_Informacion .texto_info{
        text-align: justify !important;
        font-size: 4.5vw;
        padding: 10px;
    }


    .Servicios_Informacion .content_servicios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Servicios_Informacion .card {
        position: relative;
        right:2% ;
        background-color: rgb(192, 192, 192, 0.1);
        box-shadow: 5px 5px 15px 5px rgb(192, 192, 192, 0.9);
        text-align: center;
        /*margin: auto;*/
        width: 97% !important;
        height: 100%;
        margin-left: 15px;
        margin-top: 15px;
    }

    .Servicios_Informacion .card-img-top {
        width: 100%;
    }

    .Servicios_Informacion h5 {
        text-align: left;
    }

    .Servicios_Informacion p {
        text-align: justify;
    }

    /*---- Servicios Informacion ---*/


    /*    PUBLICIDAD EXTRA    */

    .Publicidad_Extra {
        text-align: center;
        width: 100%;
    }

    .cuerpo{
        /*border: 5px solid red;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .Publicidad_Extra section {
        /*border: 5px solid black;*/
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 20px;
        height: 100%;
    }


    .Publicidad_Extra p {
        /*border: 5px solid black;*/
        text-align: justify;
        padding: 5px;
       position: relative;
       right: 3%;
    }

    .Publicidad_Extra video {
        position: relative;
        right: 4%;
        width: 100%;
        height: 270px;
    }

    /*    PUBLICIDAD EXTRA    */




    /* FOOTER  */

    footer {
        /*  border: 5px solid yellow;*/
        color: white !important;
        flex-direction: row;
        justify-content: center;
        /* background-color: black;*/
        font-size: 1vw;
    }

    footer div {
     
        width: 100;
        margin-top: 25px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .Flex_Info {
        width: 100%;
    }

    .Flex_Info div {
        width: 100%;
    }


    footer .section_1 img {
        width: 30%;
    }

    footer .section_1 p {
        text-align: center;
        padding: 10px;
         font-size: 3.5vw;
    }

    footer .section_2 {
        width: 100%;
        font-size: 3.5vw;
    }

    footer .section_2 section {
        width: 100%;
        position: relative;
    }

    .info_dos section {
        margin-left: 25px;
        width: 44% !important;
        position: relative;
        right: 17px;
    }

    footer .informacion_final {
        /* font-size: 3.5vw;*/
    }


    footer .img-london div {
        margin: auto;
        width: 90%;
        height: 100px;
        position: relative;
        text-align: center;
        background-color: white !important;
        border-radius: 10px;
        /* width: 80%;*/
        padding: 10px;
    }

    footer .img-london h1 {
        position: relative;
        color: rgb(84, 89, 95) !important;
        font-size: 16px;
    }

    footer .img-london i {
        position: relative;
        text-decoration: none;
        color: black;
        font-size:6vw;
        margin-left: 15px;
    }

    .informacion_final{
        border: 5px solid red;
        font-size: 3vw;
    }

    /* FOOTER  */


}

