@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');

@media (min-width: 1000px) {
    .Pagina_Principal {
        overflow: hidden;
        height: 100%;
    }

    .Marco_Secundario {
        border: 5px solid red;
        width: 95%;
        margin: auto;
    }



    .Pagina_Principal nav {
        height: 70px !important;
        /*responsive para telefonos*/
    }


    .Pagina_Principal nav img {
        margin-left: 25px;
    }


    .Pagina_Principal nav ul {
        position: relative;
        right: 25px;
    }


    .Pagina_Principal nav li {
        position: relative;
        margin-left: 15px;

    }

    .Pagina_Principal nav a {
        color: white !important;
        font-size: 1.2vw;
    }

    .Pagina_Principal nav a:hover {
        color: red !important;
    }


    .Pagina_Principal nav img {
        height: 60px;
    }


    .carousel-inner {
        margin: auto;
        text-align: center;
        position: relative;
        height: 580px;
    }

    .carousel-item img {
        position: relative;
        height: 750px;
    }

    .carousel-caption {
        position: relative;
        left: 2px !important;
        top: -305px;
        color: white !important;
        background-color: rgb(0, 0, 0, 0.5);
    }



    .Info_Servicios section {
        width: 50%;
        margin-top: 50px;
    }

    .Info_Servicios img {
        border-radius: 5px;
    }


    .section_info {
        /* border: 5px solid red;*/
        padding: 5px;
    }

    .section_info p {
        /*  border: 5px solid red;*/
        width: 90%;
        margin: auto;
    }

}




@media (max-width: 600px) {

    .Pagina_Principal {
        overflow: hidden;
        height: 100%;
    }

    .Marco_Secundario {
       /* border: 5px solid red;*/
        width: 100%;
        margin: auto;
    }

    .Pagina_Principal nav {
        height: 100% !important;
        text-align: right;
        /*responsive para telefonos*/
    }

    .boton_responsive {
        background-color: rgb(192, 192, 192, 0.1);
    }


    .Pagina_Principal nav img {
        width: 60% !important;
        height: 80px !important;


    }

    .Pagina_Principal .a_img {
        width: 30% !important;
    }

    .Pagina_Principal nav a {
        color: white !important;
        font-size: 4vw;
    }

    .Pagina_Principal nav a:hover{
        color: red !important;
    }

    .carousel-inner {
        height: 300px;
    }

    .carousel-item img {
        position: relative;
        height: 400px;
    }

    .text_carrusel {
        margin: auto;
        position: relative;
        color: white !important;
        background-color: rgb(0, 0, 0, 0.5);
        top: -275px;
        width: 70%;

    }

    .info_card{
      
    }



    .tarjeta_info {
        background-color: rgb(192, 192, 192, 0.1);
        border: 5px solid red;
        display: flex;
        margin: auto;
        width: 95%;
        height: 300px;
        box-shadow: 5px 5px 15px 5px rgb(192, 192, 192, 0.9);
    }

    .content_info {
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 25px;
    }

    .texto_info {
        text-align: justify;
        width: 82%;
        margin: auto;
        padding: 5px;
        font-size: 2.3vw !important;
    }

    .section_info {
      border: 5px solid purple;
        width: 55%;

    }

    .img_info {
        /*border: 5px solid red;*/

        border-radius: 5px;
        width: 45%;
        margin-right: 10px;
    }

    .Publicidad_Extra{
        text-align: center;
    }

    .Publicidad_Extra p{
        padding: 20px;
        text-align: justify;
    }

    .Publicidad_Extra section{
        margin: auto;
        width: 90%;
    }

    .Publicidad_Extra video{
        width: 100%;    
    }

    footer{
        color: white !important;
       /* border: 5px solid red;*/
        flex-direction: column;
        justify-content: center;
        background-color: black;
        font-size: 4vw;
    }

    footer div{
        border: 5px solid black;
        width: 100;
        margin-top: 25px;
      /*  border: 5px solid red;*/

    }

    footer .section_1{
        
/**/
    }

    footer .section_1 img{
     /*   border: 5px solid red;*/
        width: 40%;
    }

    footer .section_1 p{
        /*border: 5px solid yellow;*/
        text-align: justify;
        padding: 10px;
    }

    footer .section_2{
         font-size: 3.5vw;
        /*border: 5px solid purple;*/
    }

    footer .section_2 section{
        /*border: 5px solid red;*/
        width: 100%;
       /* margin-left: 25px;*/
        position: relative;
       /* right: 7px;*/
    }

    .info_dos section{
        margin-left: 20px;
        width: 40% !important;
        position: relative;
        right:17px ;
    }

    footer .informacion_final{
        font-size: 3.5vw;
    }




}


