nav{
    background-color: black !important;
}

nav li{
    position:relative;
    margin-left: 10px;
    left:-10%;
}

nav li a{
    color:white !important;
    font-size: 1.3vw;
}

.carousel-inner{
    position:relative;
    width: 100%;
    height: 500px;
}

.carousel-item img{
    position:relative;
    width: 100%;
    height: 500px;
}

.Servicios{
    position:relative;
  
}

.Servicios .Servicio{
    display: flex;
    border:5px solid black;
    width: 50%;
    height: 310px;
}

.Servicios div h1{
    position:relative;
    border:5px solid black;
    text-align: left;
    font-size: 1.3vw;
    width: 60%;
    top:20px;
}

.Servicios div p{
    position:relative;
    width: 87%;
}