
.Pagina_Principal{
    position: relative;
    overflow: hidden;
    height: 1500px;
}


nav{
    background-color: black !important;
}

nav li{
    position:relative;
    margin-left: 10px;
    left:-10%;
}

nav li a{
    color:white !important;
    font-size: 1.3vw;
}

.carousel-inner{
    position:relative;
    width: 100%;
    height: 500px;
}

.carousel-item img{
    position:relative;
    width: 100%;
    height: 500px;
}

.Letra_Servicios{
    position: relative;
    text-align: center;
    margin-top: 30px;
}

.Servicios{
    border:5px solid black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.Servicios .Servicio{
    position:relative;
    display: flex;
    width: 40%;
    height: 350px;
    top:20px;
    margin-left: 90px;
    left:-1%;
 
}

.Servicios .Servicio button{
    position: relative;
    left:25%
}

.Servicios .Servicio img{
    position:relative;
    margin-left:10px;
}

.Servicios div h1{
    position:relative;
    text-align: left;
    font-size: 1.3vw;
    width: 60%;
   
}

.Servicios div p{
    position:relative;
    text-align: left;
    font-size: 1vw;
    width: 87%;
}
